COUCHDB_USER=dnms_app
COUCHDB_PASSWORD=troque-esta-senha
JWT_GENERATOR_SIGNATURE_SECRET=troque-por-um-segredo-com-pelo-menos-64-caracteres
CORS_ALLOWED_ORIGINS=https://igrejadinamusrecife.com.br
APP_PUBLIC_URL=https://igrejadinamusrecife.com.br

MAIL_SMTP_ENABLED=false
MAIL_SMTP_HOST=
MAIL_SMTP_PORT=587
MAIL_SMTP_USERNAME=
MAIL_SMTP_PASSWORD=
MAIL_FROM=no-reply@igrejadinamusrecife.com.br
MAIL_SMTP_STARTTLS=true

MISSION_BASE_PIX_KEY=sua-chave-pix-real
MISSION_BASE_PIX_RECEIVER_NAME="IGREJA DINAMUS RECIFE"
MISSION_BASE_PIX_RECEIVER_CITY=RECIFE
MISSION_BASE_PIX_DESCRIPTION="BASE MISSIONARIA"

DNMS_PROXY_PORT=127.0.0.1:8088
